.app {
  text-align: center;
  background: linear-gradient(to bottom, #2a4165, #222c3b, #222a3b, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  min-height: 100vh;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 5rem;
}

@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

.hello {
  grid-column: 1;
  width: 100%;
  max-width: none;
}

@media (max-width: 768px) {
  .hello {
    display: none;
  }
}

.body-panel {
  grid-column: 2;
  margin: 2rem 0;
  padding: 0 5rem 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  height: 500px;
  min-width: 75%;
  overflow: auto;
}

@media (max-width: 768px) {
  .body-panel {
    
    grid-column: 1;
    min-width: 85%;
    padding: 1rem;
    margin: 1rem 1rem;
    max-height: 80%;
  }
}

.tab {
  display: none;
}

.tab:target {
  display: block;
}

.menu {
  display: block;
  margin: 1rem 0 0 0;
  border-bottom: 2px solid #2a4165;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 40px;
  width: 100%;
  z-index: 1000;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  text-align: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: #ba960f;
  transition: font-size 0.2s ease;
}

.menu li a:hover {
  color: #ba690f;
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  position: relative;
  width: 27px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  margin: 0 0 0 1rem;
}

.hamburger .line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ba960f;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger .line1 {
  top: 0;
}

.hamburger .line1-rotated {
  top: 0;
  transform: rotate(45deg);
  transform-origin: top left;
}

.hamburger .line2 {
  top: 45%;
}

.hamburger .line2-rotated {
  top: 45%;
  transform: translateY(-50%);
  opacity: 0;
}

.hamburger .line3 {
  bottom: 0;
}

.hamburger .line3-rotated {
  bottom: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.menu-text {
  display: none;
}

@media (max-width: 768px) {
  .menu ul {
    flex-direction: column;
    width: 100%;
    display: none;
    margin: -1.75rem 0 0 2.5rem;
  }

  .menu li {
    float: none;
    width: 100%;
    margin: 0.15rem 0 0.25rem 0;
  }

  .menu li a {
    text-align: left;
    padding: 0.25rem 1rem;
  }
  
  .hamburger {
    display: block; /* Show hamburger button */
  }

  .menu.show-menu ul {
    display: flex;
  }

  .menu-text {
    display: inline-block;
    text-align: start;
    font-size: 1.25rem;
    color: #ba960f;
    margin: -0.5rem 0 0 2.5rem;
    
  }

  .menu-text.hide-menu-text {
    display: none;
  }
}

.spare-blue-highlight-color {
  color: #3e506b;
}

.experiences:target,
.about-me:target,
.certifications:target,
.other-skills:target,
.skills:target {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}
.experiences ul {
  list-style-type: none;
}

.experience-company {
  font-size: 2rem;
}

.experience {
  margin: 0 0 2rem 0;
}

.experience-time,
.experience-location {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  margin: 0 0 0 1rem;
}

.experience-job_title {
  font-weight: bold;
  margin: 1rem 0 0 1rem;
}

.roles {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.roles li {
  list-style-type: disc;
  margin-top: 0.5rem;
}

.role-title {
  font-weight: bold;
  margin: 0 1rem 0 0;
}

.role-description {
  font-size: 1rem;
}

.role-title-duties {
  font-weight: bold;
  margin: 0 0 0 -1.5rem;
}

.duty-list {
  margin-bottom: 1rem;
}

.certifications {
  margin-top: 1rem;
}

.certifications a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.certifications a:hover {
  color: #ba960f;
}

.cert {
  margin: 1rem 0;
}

.history {
  margin-left: 3rem;
}

.history a,
footer a {
  text-decoration: none;
  padding: 1rem;
  color: #ba960f;
}

.history a:hover,
footer a {
  color: #ba690f;
}

.section-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ba690f;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
}

.hello-h2 {
  font-size: 2rem;
  display: block;
}

.iam-h1 {
  font-size: 3rem;
  display: block;
}

.programmer-h3 {
  font-size: 1.5rem;
  display: block;
} 